:root {
    --color1: #0e849ee6;
    --color2: #46858870;
    --color3: #2c8cba36;
    --color4: #ffffff10;
    --color5: #2c8cba;
}

.index {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.page{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    background: url(../imm/background/background_day.png);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    color: white;
}

.hero1 {
    margin-top: 120px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    color: white;
}

.hero_grid {
    margin-top: 85px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    background: url(../imm/background/background.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top center;
}

.hero_grid1 {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    background: url(../imm/background/background_day.png);
    background-size: cover;
}

.hero_grid2 {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    padding: 3rem 0 5rem;
    position: relative;
    z-index: 1;
    background: url(../imm/A&L_ombre.png) center;
    background-size: cover;
}

.link_page{
    color: inherit;
    text-decoration: none;
}

.link_page:hover{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: var(--color5);
}

.linktext{
    color: var(--color5);
}

.hero .container {
    margin-top: 10%;
}

.sp_t{
    margin-top: 1.5rem;
}

.sp_b{
    margin-bottom: 1.5rem;
}

.sp{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 4%;
    margin-left: 4%;
}

.pad{
    padding: 110px 0 0;
}

.b_square{
    border-color: var(--color1); 
    border-width: 3px; 
    border-style: solid; 
    border-radius: 25px;
}

/* Griglia */

#griglia{
    padding: 10px 0 0;
    max-width: 800px;
    width: 100%;
    height: 100%;
}

#casella{
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    background-color: var(--color2);
    border-color: var(--color3);
}

#casella:hover{
    color: var(--color4);
    background-color: transparent;
    border-color: var(--color5);
    text-decoration: none! important;
}

#casella_aperta{
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff50;
    background-color: transparent;
    border-color: var(--color5);
    text-decoration: none;
}

#casella_aperta:hover{
    color: var(--color4);
    background-color: transparent;
    border-color: #2c8cba5e;
    text-decoration: none;
}

/* 3 caselle */ 
@media screen and (max-width: 570px) {

    #griglia{
        padding: 10px 0 0;
        width: 90%;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #casella{
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 6vw;
        margin-right: 5vw;
        width: 20vw;
        height: 20vw;
    }

    #casella_aperta{
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 6vw;
        margin-right: 5vw;
        width: 20vw;
        height: 20vw;
    }
}

/* NAVBAR */

.navbar-brand {
    font-size: 1.50rem;
}

.navbar-brand span {
    font-size: 1.10rem;
}

.nav-menu {
    padding: 15px 0;
    background-color: var(--color1);
}

.navbar-nav .nav-link {
    position: relative;
    font-size: 18px;
}

.navbar-nav .dropdown-menu {
    background-color: var(--color1);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-link {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .navbar-nav > .nav-item > .nav-link.active:after {
        content: "";
        border-bottom: 2px solid white;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media screen and (max-width: 767px) {

    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar-brand {
    font-size: 0.5rem;
}
}